*{
    margin:0;
    padding:0;
}
.plan-screen{
    width: 100%;
    height: auto;
    border:1px solid white;
    background-color: rgb(255, 253, 253);
    padding-bottom:90px;
    position: relative;
}

.plans{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  
 
    box-shadow:1px 1px 100 gray;
    margin-left: 10%;
    margin-top: 10%;
    padding:20px;
    justify-content: space-around;
}
.images-exercise>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.plan{
    border:.1px solid rgb(212, 211, 211);
    width: 300px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:white;
    box-shadow:1px 1px 18px rgb(235, 232, 232);
}
.plan-name{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: capitalize;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(238, 235, 235);
}

.plans-data-image{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 14px;
}
.plans-data{
    display: flex;
    width: 100%;
}
.exercises-data{
 display: flex;
 flex-direction: column;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}

.view-more{
    background-color: #ECEFEF;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    padding-right: 10px;
    padding-left:10px;
    margin-top: 30px;
    font-weight: 700;
}
.view-more>Link{
    text-decoration: none;
}
.view-more:hover{
    color:white;
    background-color: blue;
}

.heading{
 
    position:absolute;
    top:60px;
    left: 13.5%;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(233, 229, 229);
    padding:10px;
    box-shadow: 1px 1px 100 gray;
}


.dates{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.weekdays{
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    justify-content: space-around;
    
}

.days{
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}