.render-my-plan{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 100px;
}


.exercise-render{
 

    margin-bottom: 50px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 1%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    margin-top: 30px;
}

.exercise-render-images >img{
    height: 200px;
    width: 200px;
    border-radius: 2%;
}

.content-render{
    margin-top: 20px;
}
.video > video{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: none;
  
}
.video>video:focus{
    outline: none;
}


.render-video{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border: .1px solid rgb(226, 225, 225);
    justify-content: space-around;
}

.planeName{
    margin-top: 100px;
    text-transform: capitalize;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.planeName >h4{
    font-size: 30px;
    font-weight:lighter;
}